PORT=3001
GOOGLE_API_KEY=your_google_api_key_here
GCP_PROJECT_ID=project-id-here
GCP_LOCATION=location-here
GCP_AGENT_ID=agent-id-here
GOOGLE_GENAI_USE_VERTEXAI=true/false
SLACK_WEBHOOK_URL=slack-webhook-url-here